{% extends 'base.html' %}

{% set page_name = 'About' %}

{% block content %}
    <h1>About My Roads Legend</h1>
    <p class="info">
        A sports car (sportscar) is a small, usually two seater, two door automobile designed for spirited
        performance and nimble handling. According to the Merriam-Webster dictionary, the first known use of the
        term was in 1928.
    </p>
    <p class="info">
        Sports cars may be spartan or luxurious, but high maneuverability and minimum weight are requisite. They may
        be equipped for racing, "especially an aerodynamically shaped one-passenger or two-passenger vehicle having
        a low center of gravity and steering and suspension designed for precise control at high speeds."
    </p>
{% endblock %}